@media screen and (min-width: 850px) {

  .header__logo {
    width: 14%;
  }
  #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .hackforhumanity {
    width: 44%;
  }
  .cruzhacks {
    width: 44%;
  }
  .temeti {
    width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #about_me {
    display: block;
  }
  #introduction {
      width: 80%;
      margin-left: 10%;
  }
  #pranav_face {
      width: 35%;
      margin-left: 32.5%;
      margin-top: 15px;
  }
}
