{% extends "base_logout.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}
<h1 id="main-head">Delete Menu Item</h1>
<form action= "{{url_for('menu.deleteMenuItem', restaurant_id = restaurant_id, menu_id=item.id)}}" method = 'POST'>
    <p>Are you sure you want to delete {{item.name}}</p>
    <input type='submit' value='Yes'>
</form>
<a href= "{{url_for('menu.showMenu', restaurant_id= item.restaurant_id)}}"><button>Cancel</button></a>
{% endblock %}
