{% extends "base_logout.html" %}
{% block content %}
<div class="header">
    <h1 class="main-head">{{name}}</h1>
    <button class="new">
        <a href = '{{url_for("menu.newMenuItem", restaurant_id = restaurant_id) }}'>Create New Item</a>
    </button>
</div>
<br/>

<h3>Appetizers</h3>
{% if not appetizer: %}
    <div class="item">

        <p>No Items to show here</p>

    </div>
{% endif %}
{% for i in appetizer %}
    <div class="item">
        <div class="price-name-line">
            <div class="price-name">
                <p class="name">{{i.name}}</p>
                <p class="price"> {{i.price}} </p>
            </div>
            <hr class="line" />
        </div>
        
        <div class="links">
            <a href='{{url_for("menu.editMenuItem", restaurant_id = restaurant_id, menu_id = i.id )}}'>Edit</a>

            <a href='{{url_for("menu.deleteMenuItem", restaurant_id = restaurant_id, menu_id = i.id, item=i )}}'>Delete</a>
        
        </div>
        <div class="description">
            <p><i>{{i.description}}</i></p>
        </div>        
    </div>
{% endfor %}

<h3>Soups</h3>
{% if not soups: %}
    <div class="item">

        <p>No Items to show here</p>

    </div>
{% endif %}
{% for i in soups %}
    <div class="item">
        <div class="price-name-line">
            <div class="price-name">
                <p class="name">{{i.name}}</p>
                <p class="price"> {{i.price}} </p>
            </div>
            <hr class="line" />
        </div>
        
        <div class="links">
            <a href='{{url_for("menu.editMenuItem", restaurant_id = restaurant_id, menu_id = i.id )}}'>Edit</a>

            <a href='{{url_for("menu.deleteMenuItem", restaurant_id = restaurant_id, menu_id = i.id, item=i )}}'>Delete</a>
        
        </div>
        <div class="description">
            <p><i>{{i.description}}</i></p>
        </div>        
    </div>
{% endfor %}
<h3>Main Course</h3>
{% if not main_course: %}
    <div class="item">

        <p>No Items to show here</p>

    </div>
{% endif %}
{% for i in main_course %}
    <div class="item">
        <div class="price-name-line">
            <div class="price-name">
                <p class="name">{{i.name}}</p>
                <p class="price"> {{i.price}} </p>
            </div>
            <hr class="line" />
        </div>
        
        <div class="links">
            <a href='{{url_for("menu.editMenuItem", restaurant_id = restaurant_id, menu_id = i.id )}}'>Edit</a>

            <a href='{{url_for("menu.deleteMenuItem", restaurant_id = restaurant_id, menu_id = i.id, item=i )}}'>Delete</a>
        
        </div>
        <div class="description">
            <p><i>{{i.description}}</i></p>
        </div>        
    </div>
{% endfor %}

<h3>Side Orders</h3>
{% if not sides: %}
    <div class="item">

        <p>No Items to show here</p>

    </div>
{% endif %}
{% for i in sides %}
    <div class="item">
        <div class="price-name-line">
            <div class="price-name">
                <p class="name">{{i.name}}</p>
                <p class="price"> {{i.price}} </p>
            </div>
            <hr class="line" />
        </div>
        
        <div class="links">
            <a href='{{url_for("menu.editMenuItem", restaurant_id = restaurant_id, menu_id = i.id )}}'>Edit</a>

            <a href='{{url_for("menu.deleteMenuItem", restaurant_id = restaurant_id, menu_id = i.id, item=i )}}'>Delete</a>
        
        </div>
        <div class="description">
            <p><i>{{i.description}}</i></p>
        </div>        
    </div>
{% endfor %}
<h3>Beverages</h3>
{% if not beverages: %}
    <div class="item">

        <p>No Items to show here</p>

    </div>
{% endif %}
{% for i in beverages %}
    <div class="item">
        <div class="price-name-line">
            <div class="price-name">
                <p class="name">{{i.name}}</p>
                <p class="price"> {{i.price}} </p>
            </div>
            <hr class="line" />
        </div>
        
        <div class="links">
            <a href='{{url_for("menu.editMenuItem", restaurant_id = restaurant_id, menu_id = i.id )}}'>Edit</a>

            <a href='{{url_for("menu.deleteMenuItem", restaurant_id = restaurant_id, menu_id = i.id, item=i )}}'>Delete</a>
        
        </div>
        <div class="description">
            <p><i>{{i.description}}</i></p>
        </div>        
    </div>
{% endfor %}

<h3>Desserts</h3>
 {% if not desserts: %}
    <div class="item">

        <p>No Items to show here</p>

    </div>
{% endif %}
{% for i in desserts %}
    <div class="item">
        <div class="price-name-line">
            <div class="price-name">
                <p class="name">{{i.name}}</p>
                <p class="price"> {{i.price}} </p>
            </div>
            <hr class="line" />
        </div>
        
        <div class="links">
            <a href='{{url_for("menu.editMenuItem", restaurant_id = restaurant_id, menu_id = i.id )}}'>Edit</a>

            <a href='{{url_for("menu.deleteMenuItem", restaurant_id = restaurant_id, menu_id = i.id, item=i )}}'>Delete</a>
        
        </div>
        <div class="description">
            <p><i>{{i.description}}</i></p>
        </div>        
    </div>
{% endfor %}
{% endblock %}
