<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
<div id ="content">
    <h3 id="main-head">New Menu Item</h3>
    <form action="{{ url_for('menu.newMenuItem', restaurant_id=restaurant_id )}}" method='post'>
        Name: <input type="text" name="name"><br>
        Description: <input type="text" name="description"><br>
        Course:
            <select name="course">
               <option value = "Appetizer">Appetizer</option>
               <option value = "Main Course">Main Course</option>
               <option value = "Dessert">Dessert</option>
             </select><br>
        Price: <input type="text" name="price"><br>
        <input type="submit" value="submit">
    </form>
    <a href= "{{url_for('menu.showMenu', restaurant_id=restaurant_id)}}">
        <button>Back</button>
    </a>
</div>
</body>
</html>