
{% extends "base_logout.html" %}
{% block content %}
<div class="header">
    <h1 class="main-head">Restaurants</h1>
    <button class="new">
        <a href='{{ url_for("restaurants.newRestaurant") }}'>New</a>
    </button>
</div>
<br/>

{% for i in restaurants %}
    <div class="restaurant">
        <p>{{i.name}}
            <a href='{{ url_for("menu.showMenu", restaurant_id = i.id) }}'>Show Menu</a>
            <a href='{{ url_for("restaurants.deleteRestaurant", restaurant_id = i.id) }}'>Delete</a>
            <a href='{{ url_for("restaurants.editRestaurant", restaurant_id = i.id) }}'>Edit</a>
        </p>
    </div>
{% endfor %}
{% endblock %}
