
{% extends "base_logout.html" %}
{% block content %}
<div class="header">
    <div class="main-head">
        <h1 >Restaurants</h1>
    </div>
    <a href='{{ url_for("restaurants.newRestaurant") }}'>
        <button class="button newRestaurant">
            New
        </button>
    </a>
</div>
<br/>

{% for i in restaurants %}
    <div class="restaurant">
        <div class="button showMenu">
            <a href='{{ url_for("menu.showMenu", restaurant_id = i.id) }}'>{{i.name}}</a> 
        </div>
        <div class="button deleteRestaurant">
            <a href='{{ url_for("restaurants.deleteRestaurant", restaurant_id = i.id) }}'>
                <button>
                    Delete
                </button>
            </a>
        </div>
        <div class="button editRestaurant">
            <a href='{{ url_for("restaurants.editRestaurant", restaurant_id = i.id) }}'>
                <button>
                    Edit
                </button>
            </a>
        </div>
        
    </div>
{% endfor %}
{% endblock %}
