.notification.is-danger {
    background-color: indianred;
    padding: 2px;
    text-align: center;
}

.login {
    text-align: center;
}

.content {
    width: 100%;
    height: 100%;
}
.header {
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-head {
    flex: 2;
}

.button {
    /* height: 30%; */
    /* width:30%; */
    flex: 1;
    justify-content: space-between;
}

.restaurant {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.showMenu {
    flex: 3;
}

.price-name {
    display: flex;
    justify-content: space-between;
}


.price-name-line {
}

hr.line {
    border-top: 3px dotted darkolivegreen;
    padding: 2px;
    margin-top: -8px;
    margin-bottom: 0;
}

.links {
    display: flex;
    justify-content: space-between;
}

.item {
    border: 1px solid black;
    padding: 8px;
    /* margin: 2px 2px 2px 2px; */
}

img.header__logo {
    max-width: 80px;
    /* max-height: 61px; */
}
.form-item {
    display: flex;
    justify-content: space-between;
}